.aboutTitle {
  color: #308dfb;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
}

.aboutParagraph {
  color: rgb(85, 85, 85);
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
}

.aboutBackgroundText {
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  letter-spacing: 20px;
  font-weight: 600;
  color: rgba(85, 85, 85, 0.1);
}
