@font-face {
  font-family: clear;
  src: url(./../fonts/ClearSans-Bold.ttf);
}
@font-face {
  font-family: DM;
  src: url(./../fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: public;
  src: url(./../fonts/FontsFree-Net-PublicSans-Bold.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto-Regular.ttf);
}
header {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f6f6f6;
  min-height: 100vh;
}
header .header--left {
  background: url(../images/header_pdp.png) center/cover;
}
header .header--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #343434;
  text-align: center;
}
header .header--right h1 {
  font-size: 64px;
}
header .header--right h1 #break {
  display: none;
}
header .header--right .socials {
  margin-top: 10px;
}
header .header--right .socials a {
  text-decoration: none;
  color: #343434;
  margin: 0 5px;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  header {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    background: url(../images/header_pdp.png) center/cover fixed;
  }
  header .header--left {
    display: none;
  }
  header .header--right {
    color: #f6f6f6;
    text-shadow: 3px 3px 3px rgb(15, 15, 15);
  }
  header .header--right .socials a {
    color: #f6f6f6;
  }
}
@media screen and (max-width: 500px) {
  header .header--right h1 {
    font-size: 44px;
  }
  header .header--right h1 #break {
    display: block;
  }
}
.about--me {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: #b4b0ab;
  padding: 100px 0;
}
.about--me .about--me--left {
  font-family: DM;
  color: #343434;
  margin-left: 50px;
}
.about--me .about--me--left h2 {
  font-size: 44px;
  text-align: center;
}
.about--me .about--me--left p {
  margin: 30px;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}
.about--me .about--me--right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about--me .about--me--right img {
  width: 60%;
}

@media screen and (max-width: 1570px) {
  .about--me {
    display: flex;
    justify-content: center;
  }
  .about--me .about--me--left {
    margin-left: 0;
    width: 70%;
  }
  .about--me .about--me--right {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .about--me .about--me--left {
    margin-left: 0;
  }
  .about--me .about--me--left p {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .about--me .about--me--left p {
    font-size: 14px;
  }
}
.education {
  display: grid;
  grid-template-columns: 40% 60%;
  color: #343434;
  font-size: 22px;
}
.education h2 {
  margin: 100px 0 0 50px;
  font-family: clear;
  font-size: 44px;
}
.education .diplomas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  margin: 100px 100px 0 0;
}
.education .diplomas .diploma--,
.education .diplomas .dates {
  margin-top: 50px;
}
.education .diplomas .diploma-- {
  font-family: DM;
  margin-left: -150px;
}
.education .diplomas .dates {
  font-family: clear;
}

@media screen and (max-width: 1200px) {
  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .education h2 {
    margin-left: 0;
    text-align: center;
  }
  .education .diplomas {
    margin: 100px 0 0 0;
    width: 80%;
  }
  .education .diploma-- {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .education .diplomas {
    display: flex;
    flex-direction: column;
  }
  .education .diplomas .diploma-- {
    margin-left: 0;
  }
  .education .diplomas .dates {
    display: none;
  }
}
.skills--language h2 {
  margin: 100px 0 0 50px;
  font-family: clear;
  font-size: 44px;
  color: #343434;
}
.skills--language .grid--container {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}
.skills--language .grid--container h3 {
  font-family: clear;
  font-size: 28px;
  color: #343434;
}
.skills--language .grid--container p {
  font-family: DM;
  font-size: 24px;
  color: #343434;
  margin-top: 30px;
}
.skills--language progress {
  width: 300px;
  height: 30px;
  border: 0px solid gray;
  margin-top: 10px;
}
.skills--language progress::-webkit-progress-bar {
  background-color: #b4b0ab;
}
.skills--language progress::-webkit-progress-value {
  background-color: black;
}

@media screen and (max-width: 1100px) {
  .skills--language h2 {
    text-align: center;
    margin-left: 0;
  }
  .skills--language .grid--container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .skills--language .grid--container .skills,
  .skills--language .grid--container .skills--tech,
  .skills--language .grid--container .languages {
    margin-top: 50px;
  }
}
.project .project--header {
  position: relative;
}
.project .project--header h2 {
  margin: 150px 0 0 50px;
  font-family: clear;
  font-size: 44px;
  color: #343434;
}
.project h4 {
  font-family: clear;
  font-size: 28px;
  color: #343434;
  text-align: center;
  margin: 50px 0;
}
.project .html--css--saas--content {
  margin-top: 100px;
}
.project .all--projects {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.project .all--projects img {
  box-shadow: 5px 5px 5px black;
  transition: 0.2s;
}
.project .all--projects img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 850px) {
  .project .project--header h2 {
    margin-left: 0;
    text-align: center;
  }
  .project .all--projects {
    flex-direction: column;
    align-items: center;
  }
  .project .all--projects .responsive {
    margin-top: 50px;
  }
}
footer {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
  background-color: rgb(15, 15, 15);
}
footer .footer--left {
  background: url(../images/footer_pdp.png) center/cover;
}
footer .footer--right {
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
footer .footer--right h3 {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  margin-bottom: 40px;
}
footer .footer--right p {
  font-family: clear;
  margin-top: 10px;
  font-size: 24px;
}

@media screen and (max-width: 1050px) {
  footer {
    display: flex;
    justify-content: center;
    background: url(../images/footer_pdp.png) center/cover fixed;
  }
  footer .footer--left {
    display: none;
  }
  footer .footer--right {
    color: #f6f6f6;
    text-shadow: 3px 3px 3px rgb(15, 15, 15);
  }
}
@media screen and (max-width: 540px) {
  footer .footer--right p {
    font-size: 18px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}/*# sourceMappingURL=style.css.map */