@import "./settings";
@import "./layouts/header";
@import "./layouts/aboutme";
@import "./layouts/education";
@import "./layouts/skills--languages";
@import "./layouts/project";
@import "./layouts/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
