.about--me {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: $gray;
  padding: 100px 0;
  .about--me--left {
    font-family: DM;
    color: $fonts;
    margin-left: 50px;
    h2 {
      font-size: 44px;
      text-align: center;
    }
    p {
      margin: 30px;
      font-size: 24px;
      text-align: center;
      margin-top: 50px;
    }
  }
  .about--me--right {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }
  }
}
@media screen and (max-width: 1570px) {
  .about--me {
    display: flex;
    justify-content: center;
    .about--me--left {
      margin-left: 0;
      width: 70%;
    }
    .about--me--right {
      display: none;
    }
  }
}
@media screen and (max-width: 800px) {
  .about--me {
    .about--me--left {
      margin-left: 0;
      p {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .about--me {
    .about--me--left {
      p {
        font-size: 14px;
      }
    }
  }
}
