.education {
  display: grid;
  grid-template-columns: 40% 60%;
  color: $fonts;
  font-size: 22px;
  h2 {
    margin: 100px 0 0 50px;
    font-family: clear;
    font-size: 44px;
  }
  .diplomas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    margin: 100px 100px 0 0;
    .diploma--,
    .dates {
      margin-top: 50px;
    }
    .diploma-- {
      font-family: DM;
      margin-left: -150px;
    }
    .dates {
      font-family: clear;
    }
  }
}
@media screen and (max-width: 1200px) {
  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-left: 0;
      text-align: center;
    }
    .diplomas {
      margin: 100px 0 0 0;
      width: 80%;
    }
    .diploma-- {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .education {
    .diplomas {
      display: flex;
      flex-direction: column;
      .diploma-- {
        margin-left: 0;
      }
      .dates {
        display: none;
      }
    }
  }
}
