footer {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
  background-color: $black;
  .footer--left {
    background: url(../images/footer_pdp.png) center/cover;
  }
  .footer--right {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h3 {
      font-family: "Roboto", sans-serif;
      font-size: 44px;
      margin-bottom: 40px;
    }
    p {
      font-family: clear;
      margin-top: 10px;
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 1050px) {
  footer {
    display: flex;
    justify-content: center;
    background: url(../images/footer_pdp.png) center/cover fixed;
    .footer--left {
      display: none;
    }
    .footer--right {
      color: $white;
      text-shadow: 3px 3px 3px $black;
    }
  }
}
@media screen and (max-width: 540px) {
  footer {
    .footer--right {
      p {
        font-size: 18px;
      }
    }
  }
}
