header {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $white;
  min-height: 100vh;
  .header--left {
    background: url(../images/header_pdp.png) center/cover;
  }
  .header--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: $fonts;
    text-align: center;
    h1 {
      font-size: 64px;
      #break {
        display: none;
      }
    }
    .socials {
      margin-top: 10px;
      a {
        text-decoration: none;
        color: $fonts;
        margin: 0 5px;
        font-size: 24px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  header {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    background: url(../images/header_pdp.png) center/cover fixed;
    .header--left {
      display: none;
    }
    .header--right {
      color: $white;
      text-shadow: 3px 3px 3px $black;
      .socials {
        a {
          color: $white;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  header {
    .header--right {
      h1 {
        font-size: 44px;
        #break {
          display: block;
        }
      }
    }
  }
}
