.skills--language {
  h2 {
    margin: 100px 0 0 50px;
    font-family: clear;
    font-size: 44px;
    color: $fonts;
  }
  .grid--container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
    h3 {
      font-family: clear;
      font-size: 28px;
      color: $fonts;
    }
    p {
      font-family: DM;
      font-size: 24px;
      color: $fonts;
      margin-top: 30px;
    }
  }
  progress {
    width: 300px;
    height: 30px;
    border: 0px solid gray;
    margin-top: 10px;
  }
  progress::-webkit-progress-bar {
    background-color: #b4b0ab;
  }
  progress::-webkit-progress-value {
    background-color: black;
  }
}
@media screen and (max-width: 1100px) {
  .skills--language {
    h2 {
      text-align: center;
      margin-left: 0;
    }
    .grid--container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      .skills,
      .skills--tech,
      .languages {
        margin-top: 50px;
      }
    }
  }
}
