.skills--language {
  h2 {
    margin: 100px 0 0 50px;
    font-family: clear;
    font-size: 44px;
    color: $fonts;
  }
  .grid--container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
    flex-wrap: wrap;
    h3 {
      font-family: clear;
      font-size: 28px;
      color: $fonts;
    }
    p {
      font-family: DM;
      font-size: 24px;
      color: #343434;
      margin-top: 30px;
    }
  }
  progress {
    width: 300px;
    height: 30px;
    border: 0px solid gray;
    margin-top: 10px;
  }
  progress::-webkit-progress-bar {
    background-color: #b4b0ab;
  }
  progress::-webkit-progress-value {
    background-color: black;
  }
}
